body {
  background-color: lightgray !important;
}

.container-fluid {
  background-image: url("http://images.athleo.net/backgrounds/Red2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
  height: 20%;
  width: 100%;
}

.jumbotron {
  /*border: 4px solid purple;*/
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  padding-bottom: 3%;
  background-color: transparent !important;
  color: white !important;
}

#searchBar{
  margin-top: 6%;
}

.panel {
  margin-top: 5%;
}

.col-md-8  {
  border-radius: 10px;
  padding: 1%;
  background-color: white !important;
}

.media-object {
  height: 120px;
  width: 120px;
}

#content {
  display: none;
  margin-top: 2%;
}
